In [1]:
import pandas as pd
import numpy as np

Phần 1:

a, Đọc file stocks1.csv

In [2]:
stocks1 = pd.read_csv('stocks1.csv')

Hiển thị 5 dòng dữ liệu đầu và cuối của stocks1

In [3]:
print("Head of stocks1:\n", stocks1.head())
print("\nTail of stocks1:\n", stocks1.tail())

Head of stocks1:
    Symbol                 Name       Sector                  Industry  \
0   MMM\n           3M Company  Industrials  Industrial Conglomerates
1   AOS\n      A.O. Smith Corp  Industrials         Building Products
2   ABT\n  Abbott Laboratories  Health Care     Health Care Equipment
3  ABBV\n          AbbVie Inc.  Health Care           Pharmaceuticals
4  ABMD\n          ABIOMED Inc  Health Care     Health Care Equipment

              Headquarters      CIK
0      St. Paul, Minnesota    66740
1     Milwaukee, Wisconsin    91142
2  North Chicago, Illinois     1800
3  North Chicago, Illinois  1551152
4   Danvers, Massachusetts   815094

Tail of stocks1:
      Symbol                             Name                  Sector  \
246  INCY\n                           Incyte             Health Care
247    IR\n               Ingersoll-Rand PLC             Industrials
248  INTC\n                      Intel Corp.  Information Technology
249   ICE\n        Intercontinental Exchange              Financials
250   IBM\n  International Business Machines  Information Technology

                           Industry             Headquarters      CIK
246                   Biotechnology     Wilmington, Delaware   879169
247            Industrial Machinery          Dublin, Ireland  1466258
248                  Semiconductors  Santa Clara, California    50863
249      Financial Exchanges & Data         Atlanta, Georgia  1571949
250  IT Consulting & Other Services         Armonk, New York    51143

Cho biết kiểu dữ liệu của các cột của stocks1

In [4]:
print("\nData types of stocks1:\n", stocks1.dtypes)

Data types of stocks1:
 Symbol          object
Name            object
Sector          object
Industry        object
Headquarters    object
CIK              int64
dtype: object

Xem thông tin của stocks1

In [5]:
print("\nInfo of stocks1:\n", stocks1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Symbol        251 non-null    object
 1   Name          251 non-null    object
 2   Sector        251 non-null    object
 3   Industry      251 non-null    object
 4   Headquarters  251 non-null    object
 5   CIK           251 non-null    int64
dtypes: int64(1), object(5)
memory usage: 11.9+ KB

Info of stocks1:
 None

b, Đọc file stocks2.csv

In [6]:
stocks2 = pd.read_csv('stocks2.csv')

Hiển thị 5 dòng dữ liệu đầu và cuối của stocks2

In [7]:
print("\nHead of stocks2:\n", stocks2.head())
print("\nTail of stocks2:\n", stocks2.tail())

Head of stocks2:
    Symbol                       Name                  Sector  \
0     NaN        International Paper               Materials
1     NaN          Interpublic Group  Communication Services
2     NaN  Intl Flavors & Fragrances               Materials
3     NaN                Intuit Inc.  Information Technology
4     NaN    Intuitive Surgical Inc.             Health Care

                Industry               Headquarters      CIK
0        Paper Packaging         Memphis, Tennessee    51434
1            Advertising         New York, New York    51644
2    Specialty Chemicals         New York, New York    51253
3   Application Software  Mountain View, California   896878
4  Health Care Equipment      Sunnyvale, California  1035267

Tail of stocks2:
      Symbol                    Name                  Sector  \
249     NaN         Yum! Brands Inc  Consumer Discretionary
250     NaN      Zebra Technologies  Information Technology
251     NaN  Zimmer Biomet Holdings             Health Care
252     NaN           Zions Bancorp              Financials
253     NaN                  Zoetis             Health Care

                               Industry              Headquarters      CIK
249                         Restaurants      Louisville, Kentucky  1041061
250  Electronic Equipment & Instruments    Lincolnshire, Illinois   877212
251               Health Care Equipment           Warsaw, Indiana  1136869
252                      Regional Banks      Salt Lake City, Utah   109380
253                     Pharmaceuticals  Florham Park, New Jersey  1555280

Cho biết kiểu dữ liệu của các cột của stocks2

In [8]:
print("\nData types of stocks2:\n", stocks2.dtypes)

Data types of stocks2:
 Symbol          float64
Name             object
Sector           object
Industry         object
Headquarters     object
CIK               int64
dtype: object

Xem thông tin của stocks2

In [9]:
print("\nInfo of stocks2:\n", stocks2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Symbol        0 non-null      float64
 1   Name          254 non-null    object
 2   Sector        254 non-null    object
 3   Industry      254 non-null    object
 4   Headquarters  254 non-null    object
 5   CIK           254 non-null    int64
dtypes: float64(1), int64(1), object(4)
memory usage: 12.0+ KB

Info of stocks2:
 None

c, Đọc file companies.csv

In [10]:
companies = pd.read_csv('companies.csv')

Xem dữ liệu của companies

In [11]:
print("\nData of companies:\n", companies)

Data of companies:
           name employees headquarters_city headquarters_state
0         Lili         a            London            England
1          Bin         b             HaNoi            VietNam
2        Zaica         c             Tokyo             Japand
3    Xacovicte         d           BangCoc           ThaiLand
4      Donkiho         e               HCM            VietNam
5        Angel         f             Seoul            HanQuoc
6   Stockertal         g             HaNoi            VietNam
7      Variami         h             Tokyo             Japand
8        Maria         i           BangCoc           ThaiLand
9         Jack         k               HCM            VietNam
10         NaN       NaN               NaN                NaN

Cho biết kiểu dữ liệu của các cột của companies

In [13]:
print("\nData types of companies:\n", companies.dtypes)

Data types of companies:
 name                  object
employees             object
headquarters_city     object
headquarters_state    object
dtype: object

Xem thông tin của companies

In [14]:
print("\nInfo of companies:\n", companies.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                10 non-null     object
 1   employees           10 non-null     object
 2   headquarters_city   10 non-null     object
 3   headquarters_state  10 non-null     object
dtypes: object(4)
memory usage: 484.0+ bytes

Info of companies:
 None

Phần 2:

Thay thế giá trị Null trong stocks1

In [ ]:
stocks1['high'] = stocks1.groupby('symbol')['high'].transform(lambda x: x.fillna(x.max()))
stocks1['low'] = stocks1.groupby('symbol')['low'].transform(lambda x: x.fillna(x.min()))

#Kiểm tra xem còn giá trị Null hay không
null_values_stocks1 = stocks1.isnull().sum()
print("\nNull values in stocks1 after replacement:\n", null_values_stocks1)

Phần 3:

Tạo dataframe stocks bằng cách gộp stocks1 và stocks2 theo dòng

In [15]:
stocks = pd.concat([stocks1, stocks2], ignore_index=True)

Xem 15 dòng dữ liệu cuối của stocks

In [16]:
print("\nTail of stocks:\n", stocks.tail(15))

Tail of stocks:
     Symbol                    Name                  Sector  \
490    NaN                WestRock               Materials
491    NaN            Weyerhaeuser             Real Estate
492    NaN         Whirlpool Corp.  Consumer Discretionary
493    NaN           Williams Cos.                  Energy
494    NaN    Willis Towers Watson              Financials
495    NaN        Wynn Resorts Ltd  Consumer Discretionary
496    NaN         Xcel Energy Inc               Utilities
497    NaN                   Xerox  Information Technology
498    NaN                  Xilinx  Information Technology
499    NaN              Xylem Inc.             Industrials
500    NaN         Yum! Brands Inc  Consumer Discretionary
501    NaN      Zebra Technologies  Information Technology
502    NaN  Zimmer Biomet Holdings             Health Care
503    NaN           Zions Bancorp              Financials
504    NaN                  Zoetis             Health Care

                                       Industry              Headquarters  \
490                             Paper Packaging        Richmond, Virginia
491                           Specialized REITs   Federal Way, Washington
492                        Household Appliances   Benton Harbor, Michigan
493          Oil & Gas Storage & Transportation           Tulsa, Oklahoma
494                           Insurance Brokers    London, United Kingdom
495                            Casinos & Gaming          Paradise, Nevada
496                             Multi-Utilities    Minneapolis, Minnesota
497  Technology Hardware, Storage & Peripherals      Norwalk, Connecticut
498                              Semiconductors      San Jose, California
499                        Industrial Machinery    White Plains, New York
500                                 Restaurants      Louisville, Kentucky
501          Electronic Equipment & Instruments    Lincolnshire, Illinois
502                       Health Care Equipment           Warsaw, Indiana
503                              Regional Banks      Salt Lake City, Utah
504                             Pharmaceuticals  Florham Park, New Jersey

         CIK
490  1636023
491   106535
492   106640
493   107263
494  1140536
495  1174922
496    72903
497   108772
498   743988
499  1524472
500  1041061
501   877212
502  1136869
503   109380
504  1555280

Phần 4:

Tạo dataframe stocks_companies bằng cách gộp stocks và companies

In [ ]:
stocks_companies = pd.merge(stocks, companies, left_on='symbol', right_on='name')

Xem 5 dòng dữ liệu đầu của stocks_companies

In [ ]:
print("\nHead of stocks_companies:\n", stocks_companies.head())

Phần 5:

Giá trị trung bình và volume trung bình của mỗi công ty

In [ ]:
average_prices_volume = stocks_companies.groupby('name')[['open', 'high', 'low', 'close', 'volume']].mean()
print("\nGiá trị trung bình và volume trung bình của mỗi công ty:\n", average_prices_volume)

Phần 6:

Giá đóng cửa (close) trung bình, lớn nhất và nhỏ nhất ở mỗi công ty

In [ ]:
close_stats = stocks_companies.groupby('name')['close'].agg(['mean', 'max', 'min'])
print("\nGiá đóng cửa (close) trung bình, lớn nhất và nhỏ nhất ở mỗi công ty:\n", close_stats)

Phần 7:

Tạo cột parsed_time trong stocks_companies và hiển thị kiểu dữ liệu của cột parsed_time

In [ ]:
stocks_companies['parsed_time'] = pd.to_datetime(stocks_companies['date'])
print("\nData type of parsed_time in stocks_companies:", stocks_companies['parsed_time'].dtypes)
print("\nHead of stocks_companies:\n", stocks_companies.head())

Phần 8:

Thêm cột result, nếu giá 'close' > 'open' thì cột result có giá trị 'up', ngược lại 'down'

In [ ]:
stocks_companies['result'] = np.where(stocks_companies['close'] > stocks_companies['open'], 'up', 'down')
print("\nHead of stocks_companies with the added column 'result':\n", stocks_companies.head())